/*body {
	text-align: center;
}*/

.dash-pic {
	width: 100%;
	height: 100%;
}

.dash-item {
	width: 100px;
	height: 100px;
	padding: 5px;
}

.t-row-header {
	width: 10px;
	height: 10px;
	padding: 5px;
	font-weight: bold;
	border-bottom: solid #000000 2px;
}

.left-tab {
	margin-left: 20px;
}

.evo-form {
	display: inline-block;
	text-align: left;
	padding: 10px;
	border: solid #000000 2px;
	left: 10px;
}

.form-parent {
	text-align: center;
}

.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
}


.dream-header {
	background-image: url("/static/images/LandingImage.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 500px;
}

/*.line-right {
	border-right: solid 2px #ffffff;
}*/
.header-span {
	margin: 10px;
	padding-right: 10px;
	margin-right: 10px;
}
.header-content {
	text-align: center;
	position: relative;
	top: 35%;
	width: 30%;	
	padding: 30px;
	vertical-align: middle;
	font-size: 20px;
}

.logo {
	width: 30px;
	height: 30px;
}

body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}

.dream-nav {
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
}

#select_cities_chosen {
	width: 100%;
	padding-right: 2rem;
	padding-left: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	line-height: 1.25;
	border-width: 1px;
	border-radius: .25rem;
	border-color: #dae1e7;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	text-transform: none;
	font-size: 100%;
	margin: 0;
}

.chosen-single {
	box-shadow: inherit !important;
	background: inherit !important;
	border: none !important;
}

.chosen-container-single .chosen-single div b {
    display: none !important;
}

.chosen-container .chosen-drop {
	border-width: 1px !important;
	border-color: #dae1e7 !important;
}

.dreamer-main-content {
	background-color: #f3f3f3 !important;
}

li {
	list-style: none;
}

.dream-cell {
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border: solid 1px #000000;
	cursor: pointer;
	display: inline-block;
}

.dream-cell.active {
	border: solid 1px teal;
}

.itin-pic {
	width: 50px !important;
	height: 50px !important;
}

td {
	padding: 10px !important;
}



    HTML CSS 

    Result 

EDIT ON
  
    
    
    
    
    
    
    
  

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

