{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<style type="text/css">
	a div span, nav div div a, nav div div span {
		color: #000000 !important;
	}
	nav div div a {
		border-color: #000000 !important;
	}
	nav div div a:hover {
		background-color: #000000 !important;
		color: #ffffff !important;
	}
	nav {
		margin-bottom: 30px;
	}
</style>
{% block content %}
{% for i in data %}
	<div class="location-container">
		<h3>{{ data['name'] }}</h3>
		<p>
			{% for event in item['events'] %}
				<ul>
					<li>
						{{ item['events'] }}
					</li>
				</ul>
			{% endfor %}
		</p>
	</div>
{% endfor %}

{% endblock %}
{% endblock %}